.column {
    padding-inline: 1.5rem;
    margin-top: 3rem;
    border: 1px solid #dedede;
    background-color: white;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.column h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #dedede;
}

.column .submit input {
    margin-right: 0;
    margin-left: auto;
    display: flex;
}
